body,div,input,p{
  margin: 0;
  padding: 0
}
input:focus{
  outline: none
}
b{
  font-weight: normal
}
html{
  display: table;
}
html, .full{
  width: 100%;
  height: 100%
}
body{
  display: table-cell;
  vertical-align: middle;
  background: #445;
  color: #fff;
  font-family: 'Friz Quadrata'; 
  text-shadow: 0 0.1em 0.2em #000;
  cursor: url('img/cursor.cur'), default
}
.a{
  text-decoration: underline;
  cursor: url('img/cursorh.cur'), default
}
#container{
  margin: auto;
  position: relative;
  box-shadow: 0 0 8em black;
  overflow: hidden
}
#backg{
  background-size: 100%;
  background: url('img/back.jpg')
}
#snow{
  width: 96%;
  height: 100%;
  padding: 0 2%
}
.anim{
  position: absolute;
  /*-webkit-transition: top 0.5s ease-in-out;*/
}
.pannel{
  position: absolute;
  background: rgba(0,0,0,0.6);
  background-clip: padding-box;
  border-image: url('img/border.png') 15 21 round;
}
.chain{
  width: 5.2em;
  height: 8em;
  position: absolute;
  top: -7.2em;   
  background-size: 100%;
  background: url('img/chain.png') no-repeat
}
.c-m-left{
  left: 0.3em;
}
.c-p-left{
  left: 6.7em;
}
.c-right{
  right: 1.8em;
}
#first_screen{
  top: 0
}
#menu, #opmenu{
  top: 6em;
  padding: 0.3em 0.6em;
}
#menu .button_border, #opmenu .button_border{
  margin: 0.6em 0;
}
.nav{
  width: 20em;
  right: 1em; 
  padding-right: 0.6em;
}
.nav .button_border{
  height: 4.5em;
  background-size: 100%;
  background: url('img/navborder.png') no-repeat
}
#map, .nav{
  border-width: 1em 0 1em 1em
}
#navroom, #navopt{
  bottom: 1.5em;
}
.nav p{ 
  top: 0.95em;
  right: -3em;
  width: 15.5em;
  height: 1.5em;
  text-align: center;
  padding: 0.35em 0;
  position: relative;
  border-width: 0.4em;
  background-clip: padding-box
}
#room{
  top: -50em;
}
#players{
  padding-bottom: 0.5em;
  left: 0.75em
}
#players, #map{
  top: 1.5em;
  height: 22em
}
#players, #chat{
  padding-left: 0.6em;
  width: 40em;
  border-width: 1em 1em 1em 0
}
#sentinel p:first-child, #scourge p:first-child{
  font-size: 0.75em
}
#sentinel p:first-child{
  color: #e10
}
#scourge p:first-child{
 color: #1c0
}
.a, .dl, #map p, .chatname, .nav, #credits p:first-child, #closecredit:hover{
 color: #fc0
}
.player b{
  display: inline-block
}
.name, .pick, .team, .color, .mode{
  padding: 0 0.2em;
  margin: 0.06em 0.1em;
  border-width: 0.4em;
  background-clip: padding-box
}
.name, .pick, .team, .color, .mode, .nav p.disable{
  background-image: -webkit-linear-gradient(top, #111, #222 40%, #222 60%, #111);
  border-image: url('img/button.png') 6 6 stretch
}
.host .pick, .host .team, .host .mode, .nav p.enable{
  background-image: -webkit-linear-gradient(top, #002, #004 40%, #004 60%, #002);                   
  border-image: url('img/buttonon.png') 6 6 stretch
}
.host .pick:hover, .host .team:hover, .host .mode:hover, .nav p.enable:hover{
  background-image: -webkit-radial-gradient(center, 60% 60%, #24b, #004)
}
.host .pick:after, .host .team:after, .host .mode:after{
  content: '';
  padding: 0.5em;
  float: right;
  background-size: 100%;
  background: url('img/arrow.png') no-repeat 0 100%
}
.host .name:after{
  background: transparent;
}
.dl{
  width: 2em
}
.name{
  width: 12.5em
}
.pick, .team{
  width: 5.5em
}
.color{
  width: 1.8em;
  vertical-align: bottom
}
.color b{
  width: 1em;
  height: 1em
}
.mode{
  width: 5em
}
#map{
  width: 22em;
  right: 1em;
  padding: 0.5em 1em 0.25em 0.6em
}
#gamename, #map-sp, #mapsize, #mapauthor{
  float: right
}
#mapname, #gamename, #map-sp, #mapsize, #mapauthor{
  color: #fff
}
#mapinfo{
  text-align: center;
  margin-top: 0.5em
}
#map-np{
  position: relative;
  padding: 0.25em 0.9em;
  background-size: 100%;
  background: url('img/map-np.png')
}
#map-mp{
  position: absolute;
  top: 0.8em;
  right: 0.9em;
  font-size: 0.65em
}
#mapname{
  margin: 0 0.5em;
}
#map-icon{
  padding: 0.15em 0.8em;
  background-size: 100%;
  background: url('img/map-icon.png')
}
#mini_border{
  width: 14.3em;
  height: 11.65em;
  margin: 0.5em auto;
  text-align: center;
  background-size: 100%;
  background: url('img/frame.png')
}
#mini{
  position: relative;
  width: 10.65em;
  height: 10.5em;
  margin: 0 auto;
  top: 0.5em;
  background-size: 100%;
  background: url('img/mini.jpg')

}
#chat{
  left: 0.8em;
  bottom: 0;
  height: 16em
}
#scroll{
  height: 13.5em;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 39.7em
}
#scroll::-webkit-scrollbar{
  width: 1.2em;
  box-shadow: 0 0 0.2em #000, inset 0 0 0.5em #000
}
#scroll::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, 0.4)
}
#scroll::-webkit-scrollbar-thumb{
  box-shadow: 0 0 0.2em #000;
  background-image: -webkit-radial-gradient(center, 60% 60%, #060656, #002)
}
#scroll::-webkit-scrollbar-thumb:hover{
  box-shadow: 0 0 0.2em #000;
  background-image: -webkit-radial-gradient(center, 60% 60%, #24b, #002)
}
#scroll::-webkit-scrollbar-button{
  height: 1em;
  background-size: 100%;
  background-image: url('img/scroll.png')
}
#scroll::-webkit-scrollbar-button:increment{
  background-position: bottom
}
#scroll::-webkit-scrollbar, #scroll::-webkit-scrollbar-button, #scroll::-webkit-scrollbar-thumb{
  border-image: url('img/chat.png') 4 4 round
}
#messages{
  //min-height: 32em
}
.chatsys{
  color: #aaa
}
#chatinputtext{
  width: 38.7em;
  background: rgba(0, 0, 0, 0.6);
  bottom: -0.125em;
  position: absolute;
  color: white;
  left: 0.5em;
  border-width: 0.6em;
  border-image: url('img/chat.png') 10 10 round
}
.keyshort{
  color: #fff
}
#options{
  top: -50em;
}
#credits{
  display: none;
  top: 0;
  background-size: 100%;
  background: url('img/credits.jpg') no-repeat  
}
#credits div{
  width: 20em;
  margin: 0 30em;
  position: absolute;
  text-align: center;
  top: 6.25em
}
#credits p:first-child{
  font-size: 1.125em;
  margin-bottom: 0.375em
}
#closecredit{
  position: relative;
  bottom: -27.9em;
}
#blackfade{
  position: absolute;
  top: 0;
  background: #000;
  width: 100%;
  height: 100%;
  /*-webkit-transition: opacity 1s ease-in-out;*/
}